@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #1b2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #8880fe; 
    font-size: 3rem;
    margin-bottom: 3rem;
}

main.social-media{
    display: flex;
    align-items: center;
}


main .social-media img{
    width: 36px;
}